
/* Product List Item */

.ProductListItem {
	cursor: pointer;
	flex: 1 1 auto;
	height: 50vh;
	min-width: 100%;
	position: relative;
	overflow: hidden;
}

.ProductListItem-background,
.ProductListItem-product,
.ProductListItem-target {
	background-position: center;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.ProductListItem-background {
	background: rgba(255,255,255,0.72);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.72) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.72)), color-stop(70%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.72) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.72) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.72) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.72) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50vh;
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;*/
}

.ProductListItem-product {
	background-repeat: no-repeat;
	-webkit-background-size: 20%;
	background-size: 20%;
}

.ProductListItem-target {
	background-repeat: no-repeat;
	-webkit-background-size: 40%;
	background-size: 40%;
}

@media (min-width: 36em) {

	.ProductListItem {
		width: 50%;
		min-width: 0;
	}

}

@media (min-width: 60em) {

	.ProductListItem {
		width: 33.3333333333%;
	}

}